body {
    font-family: 'Arial', sans-serif;
    line-height: 1.6;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
}

header {
    background-color: #333;
    color: #fff;
    padding: 20px;
    text-align: center;
}

#header img{
    border-radius: 50%;
    max-width: 100%;
    height: auto;
}

h1 {
    margin: 0;
}

p {
    margin: 5px 0;
}

section {
    background-color: #fff;
    margin: 20px;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

u1 {
    list-style-type: none;
    padding: 0;
}

u1 li {
    display: inline-block;
    margin-right: 10px;
}

